.container {
  display: flex;
  padding: 30px;
}
h2 {
  padding-left: 20px;
}

h3 {
  font-weight: 400;
  margin-bottom: 25px;
  margin-right: 40px;
  text-align: right;
}

.newsletter_btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #fd8210;
  border-radius: 4px;
  background: #e9f1f7;
  color: #fd8210;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}
