/* .container-search {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
} */

.aside-search {
  height: 100%;
  width: 100%;
  background-color: aquamarine;
  margin: 0;
}

.article-search {
  background-color: rgb(108, 108, 185);
  width: 100%;
  height: 100%;
  margin: 0;
}

.order-search {
  height: 2rem;
  width: 100%;
  text-align: right;
  background-color: white;
}
