.edit_password_page {
  background-color: #f7e200;
  /* min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white; */
}

.edit_password_title {
  font-size: 3rem;
  color: var(--main-white);
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 4rem;
}
