.register_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  top: 50%;
  transform: translate(-50%, -50%);
}

.register_title {
  font-size: 3rem;
  color: var(--main-dark);
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 4rem;
}

.register_page .register_form {
  margin-bottom: 4rem;
}

.register_page .register_confirmation {
  font-size: 1.25rem;
  margin-bottom: 4rem;
}

.register_login {
  font-size: 1.15rem;
}

.register_login a {
  font-weight: 900;
  text-decoration: none;
  margin-left: 0.5rem;
  color: var(--main-white);
}
