.main-header {
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202123;
  padding: 0 1.5rem;
}

/* main {
  margin-top: 5rem;
  position: relative;
  min-height: 100vh;
} */

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
  }
}
