<<<<<<< HEAD
.Card {
=======
.card {
>>>>>>> 289609200467aa78a5a42178316a21d57aae38c0
  position: relative;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: white;
}
