.form-control {
  margin-bottom: 0.5rem 2rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  /* border-color: #ec5726; */
  background-color: #fedab8;
}

/* .control-group {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
} */

.del-btn {
  font: inherit;
  background-color: #fd8210;
  color: white;
  border: 1px solid #fd8210;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.del-btn:hover,
.del-btn:active {
  background-color: #fd8210;
  border-color: #fd8210;
}

.del-btn:disabled,
.del-btn:disabled:hover,
.del-btn:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

/* .form-actions {
  text-align: right;
} */

/* .form_actions button {
    margin-left: 1rem;
  } */

.exp-input :invalid {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.exp-input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}
