.login_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login_title {
  font-size: 3rem;
  color: var(--main-white);
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 4rem;
}

.login_page .login_form {
  margin-bottom: 4rem;
}

.login_register {
  font-size: 1.15rem;
}

.login_register a {
  font-weight: 800;
  text-decoration: none;
  margin-left: 0.5rem;
  color: var(--main-white);
}
