.create-exp-container {
  margin-top: 6rem;
}

.place-form {
  position: relative;
  margin: 7.5rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: white;
  text-align: left;
}

.place-form p,
label {
  font-weight: 700;
}
