.btn-container {
  display: flex;
  align-items: center;
}

.comment-input textarea {
  margin-left: 2rem;
}

.comment-input label {
  display: block;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .btn-container {
    flex-wrap: wrap;
  }

  .add-review-btn {
    margin-top: 1rem;
  }
}
