.review-list-container ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

@media (max-width: 768px) {
  .review-list-container ul {
    padding-left: 0;
    flex-wrap: wrap;
  }
}
