.exp-main {
  display: flex;
  flex-direction: row;
}

.photos-container {
  display: flex;
  align-items: baseline;
}

.photos-container-item {
  height: 19rem;
  width: 19rem;
}

.photos-container-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-arrow-exp {
  height: 3rem;
  width: auto;
}

.desc-container {
  margin-top: 3rem;
}

.city-container {
  margin-top: 1rem;
}

.business-container {
  margin-top: 1rem;
  font-weight: 300;
}

.available-places {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 5rem;
}

.available-places div {
  margin-top: 1rem;
}
.btn-show-users {
  display: flex;
  justify-content: end;
}

.avatars-booked p {
  padding-left: 2rem;
}
.avatars-booked ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.avatars-booked img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: -1rem;
}

.exp-reviews-container ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.exp-reviews-container li {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  margin-right: 1rem;
}

.exp-reviews-container img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.modal-users img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .exp-main {
    flex-wrap: wrap;
  }
  .available-places {
    flex-wrap: wrap;
  }
  .exp-reviews-container {
    flex-wrap: wrap;
  }
}
