.main-ul {
  list-style: none;
  font-family: 'Montserrat Light', arial;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 80px;;
}

.main-li {
  margin: 0 16px;
}

nav .active {
  color: #fd8210;
}
