/* .manage-business-container {
  margin-top: 6rem;
} */

.business-ul {
  width: 75%;
  margin: 12rem auto;
  padding: 0;
  list-style: none;
  text-align: center;

  display: flex;
  flex-direction: row;
}

.business-li {
  margin: 0 auto;
  padding-left: 25px;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.business-li a {
  text-decoration: none;
  color: black;
}

.business-li a:hover {
  color: #fd8210;
  transform: scale(1.07);
}

.business-icon {
  height: 8rem;
  color: #fd8210;
}
.business-circle-li {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #fd8210;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .business-ul {
    flex-wrap: wrap;
  }
}
