.password-form {
  margin: 0 auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  border-radius: 6px;
  background: white;
  text-align: left;
}

.change-password-btn-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .change-password-btn-container {
    flex-wrap: wrap;
  }
  .change-password-cancel-btn {
    margin-top: 1rem;
  }
}
