@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: rgb(233, 229, 229);
  box-sizing: border-box;
}

main {
  position: relative;
  min-height: 100vh;
  padding: 2rem;
  margin: 6rem auto 4rem;
  /* margin-top: 6rem;
  margin-bottom: 4rem; */
  max-width: 1000px;
}
