.footer_main {
  width: 100%;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
<<<<<<< HEAD
  background-color: rgb(235, 209, 186);
  padding: 0 1.5rem;
  position: sticky;
=======
  background-color: rgb(111, 107, 107);
  padding: 0 1.5rem;
  position: relative;
>>>>>>> 289609200467aa78a5a42178316a21d57aae38c0
  bottom: 0;
}

.logo {
  object-fit: contain;
  font-size: 2rem;
  color: #fd8210;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}
