.footer_main {
  background-color: black;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 10rem;
  width: 100%;
  object-fit: contain;

  display: flex;
  width: 100%;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(111, 107, 107);
  padding: 0 1.5rem;
  position: relative;
  bottom: 0;
}

.logo {
  object-fit: contain;
  font-size: 2rem;
  color: #fd8210;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}
.logos {
  display: flex;
  font-family: "Montserrat Light", arial;
  align-items: flex-end;
  text-align: end;
}
