.footer_main {
  width: 100%;
  height: 2.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fd8718;
  padding: 0 1.5rem;
  position: sticky;
  bottom: 0;
}

.logo_footer {
  object-fit: contain;
  /* font-size: 2rem; */
  /* color: #fd8210; */
  color: white;
  /* font-weight: bold; */
  margin: 0;
  text-decoration: none;
  font-size: 0.9rem;
}

.info_footer {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

/* E4572E flame */
