.main-header {
  width: 100%;
  height: 5rem;
<<<<<<< HEAD
  position: sticky;
  top: 0;
  z-index: 100;
=======
  position: fixed;
  top: 0;
>>>>>>> 289609200467aa78a5a42178316a21d57aae38c0

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(28, 27, 27);
  padding: 0 1.5rem;
}

main {
  /* margin-top: 5rem; */
  position: relative;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
  }
}
