
.nav-cat-ul {
  text-align: center;
  margin-top: 6rem;
  /* position: fixed; */
}
.nav-cat-ul li {
  display: inline;
  padding-left: 8rem;
  padding-right: 14rem;
  font-family:'Montserrat Light', arial;
}

.nav-cat-ul a {
  text-decoration: none;
  color: black;
}

.nav-cat-ul .active {
  color: #fd8210;
}
