.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  list-style: none;
  font-family: 'Montserrat Light', arial ;
}

.nav-container a {
  text-decoration: none;}

.li-login{
  border: #fd8210;
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 8px;

}

.li-register {
  border:#fd8210;
  color: white;
  line-height: 2;
  padding: 0 10px;
  font-size: 1rem;
  text-align: center;
  border-radius: 8px;
  background-color: #fd8210;
}

.btn-logout {
  border: #fd8210;
  color: #fd8210;
  line-height: 2;
  padding: 0 20px;
  margin-right: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 8px;
  background-color: white;
}

.li-logout a,
.li-logout a:active,
.li-logout a.active {
  border: #fd8210;
  color: #fd8210;
  line-height: 2;
  padding: 0 20px;
  margin-right: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 8px;
  background-color: white;
}
