.nav-container-side {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  list-style: none;
}

.li-side {
  /* border: #fd8210; */
  /* color: #fd8210; */
  /* line-height: 2; */
  padding: 0 10px;
  margin-right: 1rem;
  font-size: 1rem;
  /* text-align: center; */
  /* border-radius: 8px; */
  /* background-color: white; */
}
.li-login {
  color: #fd8210;
  border: #fd8210;
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  border-radius: 8px;
  background-color: #fd8210;
  font-family: 'Montserrat Light', arial;
}

.btn-logout-side {
  border-color: #fd8210;
  color: #fd8210;
  line-height: 2;
  padding: 0 20px;
  margin-right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
}

.li-logout-side a,
.li-logout-side a:active,
.li-logout-side a.active {
  border: #fd8210;
  color: #fd8210;
  line-height: 2;
  padding: 0 20px;
  margin-right: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 8px;
}
